.jumbotron {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.5) 100%),
    url(../../assets/images/bouw_gif.gif);
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    color: black;
    position: relative;
    height: 80vh;
    text-align: center;

}